.main-footer {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/main-image.jpg");

  height: 530px;
  margin: 0 auto;
  width: 90%;
  background-position: center 65%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-footer-link {
  // display: block;
  // text-align: center;
  // margin: 0 auto;
}
.map-link {
  display: block;
  padding: 16px 0 16px 0;
  font-family: "Roboto";
  // width: 40%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140.62%;
}
.mail-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
  padding: 8px 0 8px 0;
}
.contact-title {
  padding-top: 24px;
  text-align: left;
}
.face-link {
  display: block;
  // margin: 0 auto;
  margin-top: 16px;
  width: 30px;
}
@media screen and (max-width: 768px) {
  .main-footer {
    width: 100%;
    // height: 180px;
    // background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;
  }
}
