.main-footer {
  background: url("../images/footer-image.png");
  height: 530px;
  background-position: center;
}
.map-link {
  display: block;
  padding: 16px 0 16px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140.62%;
}
.mail-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
  padding: 8px 0 8px 0;
}

@media screen and (max-width: 480px) {
  .main-footer {
    height: 180px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
