.main-footer {
  background: url("../images/footer-image.jpg");

  height: 530px;
  margin: 0 auto;
  // width: 90%;
  // background-position: center 65%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}
.footer-wrap {
  width: 40%;
  margin: 0 auto;
  background: white;
  margin-top: 40px;
  padding: 24px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.514);
  text-align: center;
}
.main-footer-link {
  // display: block;
  // text-align: center;
  // margin: 0 auto;
}
.map-link {
  display: block;
  padding: 16px 0 16px 0;
  font-family: "Roboto";
  // width: 40%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140.62%;
}
.mail-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
  padding: 8px 0 8px 0;
}
.contact-title {
  padding-top: 24px;
}
.face-link {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  width: 30px;
}
@media screen and (max-width: 1366px) {
  .footer-wrap {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .footer-wrap {
    width: 80%;
  }
  .main-footer {
    width: 100%;
    // height: 180px;
    // background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;
  }
}

@media screen and (max-width: 430px) {
  .footer-wrap {
    background: rgba(255, 255, 255, 0.82);
    width: 100%;
  }
  .main-footer {
    background-position: left 65%;
  }
}
