* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  color: black;
  position: relative;
  font-family: "Roboto", sans-serif;
}
a {
  color: black;
  cursor: pointer;
}
li {
  list-style-type: none;
}
.wrapper {
  overflow: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
ul {
  font-family: "Forum", cursive;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
