@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  color: black;
  position: relative;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.wrapper {
  overflow: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  font-family: "Forum", cursive;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.burger-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Гамбургер иконка */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 15;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #f1f1f2;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu li {
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140.62%;
  color: #000000;
}

.header-wrap-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.language-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-item-link {
  font-size: 20px;
  padding: 35px 10px;
  position: relative;
  font-weight: 700;
}

.main-item-link::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: black;
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 10px;
  bottom: 30px;
}

.main-item-link:hover::after {
  width: 78%;
}

.language-item {
  padding: 50px 15px;
}

@media screen and (min-width: 576px) {
  .burger-wrap {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .language-item {
    padding-top: 54px;
  }
}

@media screen and (max-width: 1366px) {
  .language-item {
    padding-top: 36px;
  }
  .main-item-link {
    font-size: 16px;
  }
}

@media screen and (max-width: 1080px) {
  .main-nav,
  .language-wrap {
    display: none;
  }
  .burger-wrap {
    display: block;
  }
  .burger-language {
    display: block;
  }
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-title {
  font-family: "Forum";
  font-size: 48px;
  line-height: 140.62%;
  color: #000000;
}

.about-block {
  width: 100%;
  padding: 16px;
  padding-left: 20px;
  background: #b2d8eb;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
}

.about-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
}

.about-link {
  display: inline-block;
  width: auto;
  padding-top: 16px;
  position: relative;
  color: #1957c8;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
}

.about-link:hover::after {
  bottom: -8px;
}

.about-link::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #1957c8;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -2px;
}

.about-section {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-wrap {
  position: relative;
}

.video-dnipro {
  width: 100%;
  left: 0;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-title {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Forum";
  font-size: 50px;
}

.mob-im {
  display: none;
}

.ddp-image,
.mob-im {
  position: absolute;
  width: 95%;
  z-index: 10;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 720px;
  z-index: -1;
  background: rgba(204, 204, 204, 0.301);
}

.about-warp {
  padding-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.members-section {
  padding-top: 72px;
  padding-bottom: 44px;
}

.section-title {
  text-shadow: -1px 9px 6px #938c96;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 140.62%;
  text-align: center;
  color: #000000;
  text-align: center;
}

.news-section {
  padding-top: 52px;
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(252, 252, 252, 0.418))), url("../images/dnipro.jpg");
  background: linear-gradient(to right, white, rgba(252, 252, 252, 0.418)), url("../images/dnipro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
}

.news-wrap {
  padding-top: 88px;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  background-color: white;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
}

.news-text {
  padding-top: 16px;
  padding-left: 24px;
  font-family: "Forum";
  font-weight: 400;
  font-size: 24px;
  line-height: 140.62%;
  color: #000000;
}

.details {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  color: #1957c8;
}

.arrow {
  width: 50px;
  margin-left: 44px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-item:hover .arrow {
  margin-right: -40px;
  width: 70px;
}

.member-image {
  margin: 0 auto;
  width: 100%;
}

.members-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.language-item.active {
  font-weight: bold;
}

.member-item {
  padding-left: 10px;
  padding-right: 10px;
  width: 19%;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
  margin-bottom: 24px;
}

.slick-prev {
  width: 80px;
  height: 80px;
  background: url("../images/icons/arrow.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: -105px;
}

.slick-next {
  width: 80px;
  height: 80px;
  background: url("../images/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: -105px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.slick-prev:before,
.slick-next:before {
  content: "";
}

.slick-prev:hover,
.slick-prev:focus {
  outline: none;
  background: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: rotate(180deg) scale(1.5);
          transform: rotate(180deg) scale(1.5);
}

.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.member-title {
  padding-bottom: 88px;
}

.member-desc {
  font-size: 20px;
  line-height: 135.94%;
  color: #000000;
  padding-right: 16px;
  padding-bottom: 16px;
}

.member-title-elem {
  font-weight: 700;
  font-size: 30px;
  line-height: 135.94%;
  color: #000000;
  padding-right: 16px;
}

.event-section {
  padding-top: 60px;
  padding-bottom: 72px;
}

.event-list {
  height: 400px;
  overflow-y: scroll;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.event-list::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: black;
}

::-webkit-scrollbar-button {
  height: 0;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

.event-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.event-block {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  padding-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  margin-left: auto;
  background-color: white;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
  margin-bottom: 16px;
}

.event-text {
  padding-top: 16px;
  padding-left: 24px;
  font-family: "Forum";
  font-weight: 400;
  font-size: 24px;
  line-height: 140.62%;
  color: #000000;
}

.event-title {
  padding-bottom: 56px;
}

.event-image {
  width: 238px;
}

.event-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join-block {
  width: 48%;
}

.join-elem {
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13);
  padding: 40px;
  min-height: 385px;
  min-height: 400px;
}

.join-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140.62%;
}

.join-button {
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#9d9d9d));
  background: linear-gradient(0deg, white 0%, #9d9d9d 100%);
  padding: 8px 16px;
  border-radius: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid gray;
  display: block;
  margin: 32px auto 0 auto;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 6;
  background: #00000071;
  height: 100vh;
  width: 100%;
}

.main-form,
.message,
.error {
  position: fixed;
  left: 50%;
  width: 600px;
  top: 50%;
  z-index: 7;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 24px;
  background: white;
}

.submit-button {
  background: transparent;
  border: 2px solid black;
  color: black;
  display: block;
  font-size: 24px;
  height: 72px;
  letter-spacing: 0.15em;
  line-height: 24px;
  margin: 40px auto 0;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
}

.main-image {
  display: block;
  margin: 0 auto;
}

.join-title {
  padding-bottom: 40px;
}

.main-form-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  display: block;
  margin: 16px auto 0;
  padding: 8px 16px 8px 0;
  width: 80%;
}

.hidden {
  display: none;
}

.join-button {
  background: #333;
  color: #ccc;
  width: 200px;
  height: 60px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}

.join-button:focus {
  outline: 0;
}

.join-button:hover {
  background: #7a91bb;
  cursor: pointer;
}

.join-button:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.join-button:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media screen and (max-width: 1280px) {
  .member-title-elem {
    font-size: 24px;
  }
  .slick-prev {
    left: -25px;
  }
  .slick-next,
  .slick-prev {
    width: 35px;
    height: 35px;
  }
  .slick-next {
    right: -25px;
  }
  .ddp-image {
    display: none;
  }
  .mob-im {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .member-item {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .member-item {
    width: 49%;
  }
  .about-warp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-block {
    width: 100%;
    margin-top: 16px;
  }
  .info-block {
    width: 85%;
  }
  .news-image {
    width: 50%;
  }
  .event-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .event-block-wrap,
  .join-block {
    width: 100%;
  }
  .join-title {
    margin-top: 16px;
  }
}

@media screen and (max-width: 576px) {
  .main-form {
    width: 100%;
  }
  .event-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .event-image {
    width: 100%;
  }
  .event-text {
    padding-left: 0;
  }
  .event-list {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .member-item {
    width: 100%;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  .news-image {
    width: 100%;
  }
  .info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .arrow {
    display: none;
  }
  .news-item:hover .arrow {
    width: 50px;
    margin-left: 0px;
  }
}

.main-footer {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0))), url("../images/main-image.jpg");
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%), url("../images/main-image.jpg");
  height: 530px;
  margin: 0 auto;
  width: 90%;
  background-position: center 65%;
  background-repeat: no-repeat;
  background-size: cover;
}

.map-link {
  display: block;
  padding: 16px 0 16px 0;
  font-family: "Roboto";
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140.62%;
}

.mail-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.62%;
  padding: 8px 0 8px 0;
}

.contact-title {
  padding-top: 24px;
  text-align: left;
}

.face-link {
  display: block;
  margin-top: 16px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  .main-footer {
    width: 100%;
  }
}

.we-text,
.we-list,
.start-list {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.who-list,
.who-list-item {
  list-style-type: disc;
}

.who-list-item {
  margin-bottom: 16px;
}

.who-title {
  margin-bottom: 100px;
}

.we-text,
.start-list {
  margin-bottom: 16px;
}

.who-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
}

.arrow-footer {
  width: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.logo-who-footer {
  display: block;
  margin: 0 auto;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.where-title {
  margin: 0 auto;
}

.where-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.city-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member-text {
  margin-left: 32px;
}

.city-members-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.members-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dnipro-video {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.member-about {
  margin-top: 16px;
}

.where-arrow {
  margin-top: 32px;
}

.dnipro-video {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .city-members {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .city-members-item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .city-members-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-page-text {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140.62%;
  margin-left: 32px;
}

.news-page-block {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-page-other-text {
  margin-top: 32px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140.62%;
}

.arrow-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.page-news-image {
  width: 600px;
}

@media screen and (max-width: 480px) {
  .news-page-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-page-text {
    margin: 0;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=main.css.map */